{% extends 'base/base.html' %}
{% load static %}

{% block main_content %}
    <section id="seo" class="our-portfolio section section-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 align-self-center">
                    <img src="{% static 'images/seo_background.png' %}" alt="SEO оптимизация">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 align-self-center">
                     <h1>SEO оптимизация</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 align-self-center">
                    <h2>Защо е необходима SEO оптимизация?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 align-self-center">
                    <p>SEO (оптимизация за търсачки) е все по-популярен и достъпен процес, с който сайта ви
                        ще бъде класиран на по-високи позиции при търсения на определени ключови думи и фрази.
                        При оптимизацията не уеб сайта той ще получи по-добра видимост, с която потребители,
                        извършващи търсене ще го намират и ще посетят, което ги превръща в потенциални клиенти
                        за вашия бизнес.
                    </p>
                    <p> За разлика от платената реклама, при SEO става въпрос за оптимизация на сайт за органично
                        търсене (просто търсене в търсачка, например Google) и локално търсене.
                        Доказано е, че при търсене в Google потребителите най-често преглеждат първата страница (около 70%),
                        в някои случаи стигат до втора и много рядко до трета.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}