{% extends 'base/base.html' %}

{% block title %}Уеб дизайн{% endblock %}

{% load static %}

{% block main_content %}
    <section id="web-design" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 align-self-center">
                    <div class="section-heading">
                        <h1>Уеб дизайн за корпоративен уеб сайт</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mb-4">
                    Част от нашите предложения за фирмен уеб сайт.
                </div>
            </div>
        </div>

        <div class="container-fluid wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="portfolio-item">
                                <div class="thumb">
                                    <img src="{% static '/images/showcases/tmp-1.jpg' %}" alt="">
                                    <div class="hover-content">
                                        <div class="inner-content">
                                            <a href="#"><h4>Template-1</h4></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="portfolio-item">
                                <div class="thumb">
                                    <img src="{% static '/images/showcases/tmp-2.jpg' %}" alt="">
                                    <div class="hover-content">
                                        <div class="inner-content">
                                            <a href="#"><h4>Template-2</h4></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="portfolio-item">
                                <div class="thumb">
                                    <img src="{% static '/images/showcases/tmp-4.jpg' %}" alt="">
                                    <div class="hover-content">
                                        <div class="inner-content">
                                            <a href="#"><h4>Template-4</h4></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="portfolio-item">
                                <div class="thumb">
                                    <img src="{% static '/images/showcases/tmp-5.jpg' %}" alt="">
                                    <div class="hover-content">
                                        <div class="inner-content">
                                            <a href="#"><h4>Template-5</h4></a>
                                            <span>Views</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="portfolio-item">
                                <div class="thumb">
                                    <img src="{% static '/images/showcases/tmp-6.jpg' %}" alt="">
                                    <div class="hover-content">
                                        <div class="inner-content">
                                            <a href="#"><h4>Template-6</h4></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                         <h2>Цени за изработка на уеб сайт</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <h3 class="title">Старт</h3>
                        </div>
                        <ul class="pricing-content">
                            <li>Възможност за избор на дизайн за сайта</li>
                            <li>One/Multy Page Design (до 5 страници)</li>
                            <li>Мобилна версия</li>
                            <li>Изграждане структура на сайта</li>
                            <li>Създаване на основна навигация</li>
                            <li>Създаване на футър</li>
                            <li>Добавяне на текстово съдържание и изображения</li>
                            <li>Добавяне на SSL Сертификат</li>
                        </ul>
                        <div class="price-value">400 лв</div>
                        <div class="pricingTable-signup">
                            <div class="main-blue-button">
                                <a href="/contacts">За контакти</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable orange">
                        <div class="pricingTable-header">
                            <h3 class="title">Стандарт</h3>
                        </div>
                        <ul class="pricing-content">
                            <li>Възможност за избор на дизайн на сайта</li>
                            <li>One/Multy Page Design (от 5 до 10 страници)</li>
                            <li>Мобилна версия</li>
                            <li>Изграждане структура на сайта</li>
                            <li>Подготвен за SEO Оптимизация</li>
                            <li>Създаване на основна навигация</li>
                            <li>Създаване на футър</li>
                            <li>Добавяне на текстово съдържание и изображения</li>
                            <li>Създаване на карта</li>
                            <li>Добавяне на SSL Сертификат</li>
                            <li>Форма за контакти</li>
                            <li>Google Search Console</li>
                            <li>Google Analytics</li>
                            <li>Лого</li>
                            <li>Създаване на галерия</li>
                            <li>Обработка и качване на снимки</li>
                        </ul>
                        <div class="price-value">500 лв</div>
                        <div class="pricingTable-signup">
                            <div class="main-blue-button">
                                <a href="/contacts">За контакти</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable green">
                        <div class="pricingTable-header">
                            <h3 class="title">Премиум</h3>
                        </div>
                        <ul class="pricing-content">
                            <li>Възможност за избор на дизайн за сайта</li>
                            <li>One/Multy Page Design (от 10 до 20 страници)</li>
                            <li>Мобилна версия</li>
                            <li>Изграждане структура на сайта</li>
                            <li>Подготвен за SEO Оптимизация</li>
                            <li>Създаване на основна навигация</li>
                            <li>Създаване на футър</li>
                            <li>Добавяне на текстово съдържание и изображения</li>
                            <li>Създаване на карта</li>
                            <li>Добавяне на SSL Сертификат</li>
                            <li>Форма за контакти</li>
                            <li>Google Search Console</li>
                            <li>Google Analytics</li>
                            <li>Лого</li>
                            <li>Създаване на рекламни банери</li>
                            <li>Фейсбук страница за уебсайта</li>
                            <li>Създаване на социални бутони</li>
                            <li>Създаване на картa в сайта</li>
                            <li>Създаване на бутон за позвъняване</li>
                            <li>Създаване на галерия</li>
                            <li>Обработка и качване на снимки</li>
                        </ul>
                        <div class="price-value">600 лв</div>
                        <div class="pricingTable-signup">
                            <div class="main-blue-button">
                                <a href="/contacts">За контакти</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main_content %}