{% extends 'base/base.html' %}
{% load static %}

{% block main_content %}
    <!--  New code goes here -->
    <div id="contact" class="contact-us section">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">

                    <!-- ***** Contact Form Start ***** -->
                    <form id="contact" action="" method="post" class="contact-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6 offset-lg-3">
                                <div class="section-heading">
                                    <h4>За контакт</h4>
                                    <h2>Попълнете формата и се свържете с нас</h2>
                                </div>
                            </div>

                            <div class="col-lg-9">
                                <div class="row">
                                    {% for field in form %}
                                        {% if field.name != 'message' %}
                                            <div class="col-lg-6">
                                                <fieldset>
                                                    {{ field.errors }}
                                                    {{ field.label_tag }} {{ field }}
                                                </fieldset>
                                            </div>
                                        {% else %}
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    {{ field.label_tag }} {{ field }}
                                                </fieldset>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    <div class="col-lg-12 form-submit">
                                        <fieldset>
                                            {% if success_message %}
                                                <div class="alert alert-success">
                                                    {{ success_message }}
                                                </div>
                                            {% elif message %}
                                                <div class="alert alert-danger">
                                                    {{ message }}
                                                </div>
                                            {% endif %}
                                            <button type="submit" id="form-submit" class="main-button">Изпрати
                                                съобщение
                                            </button>
                                        </fieldset>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-3">
                                <div class="contact-info">
                                    <ul>
                                        <li>
                                            <div class="icon">
                                                <img src="{% static 'images/contact-icon-01.png' %}" alt="email icon">
                                            </div>
                                            <a href="mailto:ramonaweb2@gmail.com">ramonaweb2@gmail.com</a>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <img src="{% static 'images/contact-icon-02.png' %}" alt="phone">
                                            </div>
                                            <a href="#">0892 601 740</a>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <img src="{% static 'images/contact-icon-03.png' %}" alt="location">
                                            </div>
                                            <a href="#">web-impression.net</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </form>
                    <!-- ***** Contact Form End ***** -->
                </div>

            </div>
        </div>
    </div>
    <!--- CONTACT End -->
{% endblock main_content %}