{% extends 'base/base.html' %}
{% load static %}

{% block main_content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Контакти</h2>
          <ol>
            <li><a href="{% url 'homepage' %}">Начало</a></li>
            <li>Контакти</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Телефон:</h4>
                <p>0892 601 740</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>web.impression2@gmail.com</p>
              </div>
            </div>
          </div>

            <div class="col-lg-8 mt-5 mt-lg-0">

                <!-- ***** Contact Form Start ***** -->
                <form action="" method="post" role="form" class="contact-form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                   required="">
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                                   required="">
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                               required="">
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                  required=""></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>

                         {% if message_success %}
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        {% endif %}
                    </div>
                    <div class="text-center">
                        <button type="submit">Send Message</button>
                    </div>


                </form>
                <!-- ***** Contact Form End ***** -->

            </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

{% endblock %}