{% extends 'base/base.html' %}
{% load static %}

{% block title %}Изработка на сайт, уеб дизайн, SEO оптимизация - WEB Impression{% endblock %}
{% block meta %}Изработка на сайт, уеб дизайн, SEO оптимизация - WEB Impression{% endblock %}

{% block main_content %}


<!-- Slider Start -->
<section class="banner d-flex align-items-center">
	<div class="banner-img-part"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-md-12 col-xl-6">
				<div class="block">
					<span class="text-uppercase text-sm letter-spacing ">Корпоративни Уебсайтове</span>
					<h1 class="mb-3 mt-3">Изработка на уеб сайт и безплатна поддръжка</h1>
					<p class="mb-5">Предлагаме персонализиран подход и достъпни цени за изработката на уеб сайт.
                    Безплатна техническа поддръжка на вашия уеб сайт за една година. Публикуване на сайта в Google.
                    </p>

					<a href="about.html" target="_blank" class="btn btn-main">Разгледайте нашите услуги
                        <i class="fa fa-angle-right ml-2"></i>
                    </a>

				</div>
			</div>
		</div>
	</div>
</section>
<section class="section about">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 ">
				<div class="about-item mb-5 mb-lg-5">
					<div class="icon">
						<i class="ti-light-bulb"></i>
					</div>

					<div class="content">
						<h4 class="mt-3 mb-3">Планиране и проектиране</h4>
						<p class="mb-4">Създаване на архитектура - структура на менютата, категориите и страниците</p>
						<a href="#"> Прочети повече </a>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="about-item mb-5 mb-lg-5">
					<div class="icon">
						<i class="ti-panel"></i>
					</div>
					<div class="content">
						<h4 class="mt-3 mb-3">Разработка и програмиране</h4>
						<p class="mb-4">Създаване на визуалната част и потребителския интерфейс, логика,
                            функционалности и оптимизация</p>
						<a href="#"> Прочети повече </a>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="about-item">
					<div class="icon">
						<i class="ti-headphone-alt"></i>
					</div>
					<div class="content">
						<h4 class="mt-3 mb-3">Публикуване и поддръжка</h4>
						<p class="mb-4">Актуализиране и добавяне на съдържание.
                            Ъпдейти и корекции при нужда.
                            Анализ на трафика и поведението на потребителите с цел подобрения.
                        </p>
						<a href="#"> Прочети повечe </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section process">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-5">
				<div class="process-block pl-4">
					<span class="text-uppercase text-sm letter-spacing">Защо да изберете нас</span>
					<h2 class="mb-4 mt-3">Уеб сайт с мисъл към нуждите</h2>
					<p class="mb-4">Предлагаме гъвкави и достъпни решения,
                        съобразени със специфичните нужди и цели на вас или вашия бизнес.
                    </p>
				</div>
			</div>

			<div class="col-lg-7 col-xs-12 col-md-12">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="icon-block text-center mb-4 mb-lg-0">
							<i class="ti-light-bulb"></i>
							<h5>Анализ на конкуренцията</h5>
							<p>Идентифициране на възможностите, разбиране на силните и слабите страни на конкуренцията,
                            потенциални възможности и заплахи пред вашия бизнес.</p>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="icon-block text-center mt-4 mb-4 mb-lg-0">
							<i class="ti-panel"></i>
							<h5>Планиране на уеб сайт</h5>
							<p>Определяне на подходящата струтура и функционалности при изработката на уеб приложението.</p>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="icon-block text-center">
							<i class="ti-search"></i>
							<h5>Петте "П" на интернет маркетинга</h5>
							<p><strong>Продукт</strong> - продуктова политика,
                                <strong>Цена</strong> - ценова политика, <strong>Промотиране</strong>,
                            <strong>Място</strong> - дистрибуция, <strong>Хора</strong> - обръщане към клиента</p>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="icon-block text-center mt-4">
							<i class="ti-rocket"></i>
							<h5>Развитие и управление на съдържаниетп</h5>
							<p>Постоянно анализиране на поведението на потребителите с цел удовлетворение
                            на техните нужди и интереси.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section cta">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<div class="cta-content bg-white p-5 rounded">
					<h3 class="mb-4">Разнообразие от
                        <span class="text-color-primary"> Уеб решения</span> </h3>
					<p class="mb-30">Нашето въображение не спира да се разгръща, като анализираме и разработваме
                        различни инструменти, с които да сме полезни на вас.
                    </p>

					<a href="project.html" class="btn btn-main">Към Портфолио<i class="fa fa-angle-right ml-2"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- section portfolio start -->
<section class="section portfolio pb-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-10">
				<div class="heading">
					<h2 class="mb-4">Можем да предложим толкова много.<br/> Разгледайте част от нашите предложения!</h2>
					<p>Разгледайте някои основни уеб решения, които лесно могат да се изработят чрез програмиране и да покрият популярни бизнес нужди.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row portfolio-gallery">
			<div class="col-lg-4 col-md-6">
				<div class="portflio-item position-relative mb-4">
					<a href="#">
						<img src="{% static 'images/portfolio/1.jpg' %}" alt="" class="img-fluid w-100">
						<div class="overlay-item"><i class="ti-link"></i></div>

						<div class="portfolio-item-content">
							<h3 class="mb-0 text-white">Project california</h3>
							<p class="text-white-50">Web Development</p>
						</div>
					</a>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="portflio-item position-relative mb-4">
					<a href="#">
						<img src="{% static 'images/portfolio/2.jpg' %}" alt="" class="img-fluid w-100">
						<div class="overlay-item">
							<i class="ti-link"></i>
						</div>
						<div class="portfolio-item-content">
							<h3 class="mb-0 text-white">Project california</h3>
							<p class="text-white-50">Web Development</p>
						</div>
					</a>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="portflio-item position-relative mb-4">
					<a href="#">
						<img src="{% static 'images/portfolio/3.jpg' %}" alt="" class="img-fluid w-100">

						<div class="overlay-item">
							<i class="ti-link"></i>
						</div>
						<div class="portfolio-item-content">
							<h3 class="mb-0 text-white">Project california</h3>
							<p class="text-white-50">Web Development</p>
						</div>
					</a>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="portflio-item position-relative mb-4">
					<a href="#">
						<img src="{% static 'images/portfolio/4.jpg' %}" alt="" class="img-fluid w-100">

						<div class="overlay-item">
							<i class="ti-link"></i>
						</div>
						<div class="portfolio-item-content">
							<h3 class="mb-0 text-white">Project california</h3>
							<p class="text-white-50">Web Development</p>
						</div>
					</a>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="portflio-item position-relative  mb-4">
					<a href="#">
						<img src="{% static 'images/portfolio/5.jpg' %}" alt="" class="img-fluid w-100">

						<div class="overlay-item">
							<i class="ti-link"></i>
						</div>
						<div class="portfolio-item-content">
							<h3 class="mb-0 text-white">Project california</h3>
							<p class="text-white-50">Web Development</p>
						</div>
					</a>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="portflio-item position-relative mb-4">
					<a href="#">
						<img src="{% static 'images/portfolio/6.jpg' %}" alt="" class="img-fluid w-100">

						<div class="overlay-item">
							<i class="ti-link"></i>
						</div>
						<div class="portfolio-item-content">
							<h3 class="mb-0 text-white">Project california</h3>
							<p class="text-white-50">Web Development</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- section portfolio END -->
<!-- section Counter Start -->
<section class="section counter">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="counter-item text-center mb-5 mb-lg-0">
					<h2 class="mb-0"><span class="counter-stat font-weight-bold">1730</span> +</h2>
					<p>Project Done</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="counter-item text-center mb-5 mb-lg-0">
					<h2 class="mb-0"><span class="counter-stat font-weight-bold">125 </span>M </h2>
					<p>User Worldwide</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="counter-item text-center mb-5 mb-lg-0">
					<h2 class="mb-0"><span class="counter-stat font-weight-bold">39</span></h2>
					<p>Availble Country</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="counter-item text-center">
					<h2 class="mb-0"><span class="counter-stat font-weight-bold">14</span></h2>
					<p>Award Winner </p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- section Counter End  -->
<section class="section testimonial">
	<div class="container">
		<div class="row">
			<div class="col-lg-10">
				<div class="heading">
					<h2 class="mb-4">What they say about us</h2>
					<p>They are truely amazing in the industry ,molestiae expedita aspernatur officia, similique minima laudantium. Corrupti ipsa perspiciatis commodi nesciunt rerum mollitia enim voluptate!</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 testimonial-wrap">
				<div class="testimonial-block">
					<p>
						Maiores quasi placeat harum itaque, ducimus cumque quas expedita hic. Qui ullam iste provident mollitia expedita facilis fuga repellat.
					</p>

					<div class="client-info d-flex align-items-center">
						<div class="client-img">
							<img src="{% static 'images/team/testimonial1.jpg' %}" alt="" class="img-fluid">
						</div>
						<div class="info">
							<h6>John Partho</h6>
							<span>Newyork USA</span>
						</div>
					</div>
				</div>

				<div class="testimonial-block">
					<p>
						Maiores quasi placeat harum itaque, ducimus cumque quas expedita hic. Qui ullam iste provident mollitia expedita facilis fuga repellat.
					</p>

					<div class="client-info d-flex align-items-center">
						<div class="client-img">
							<img src="{% static 'images/team/testimonial2.jpg' %}" alt="" class="img-fluid">
						</div>
						<div class="info">
							<h6>John Partho</h6>
							<span>Newyork USA</span>
						</div>
					</div>
				</div>
				<div class="testimonial-block">
					<p>
						Maiores quasi placeat harum itaque, ducimus cumque quas expedita hic. Qui ullam iste provident mollitia expedita facilis fuga repellat.
					</p>

					<div class="client-info d-flex align-items-center">
						<div class="client-img">
							<img src="{% static 'images/team/testimonial1.jpg' %}" alt="" class="img-fluid">
						</div>
						<div class="info">
							<h6>John Partho</h6>
							<span>Newyork USA</span>
						</div>
					</div>
				</div>
				<div class="testimonial-block">
					<p>
						Maiores quasi placeat harum itaque, ducimus cumque quas expedita hic. Qui ullam iste provident mollitia expedita facilis fuga repellat.
					</p>

					<div class="client-info d-flex align-items-center">
						<div class="client-img">
							<img src="{% static 'images/team/testimonial2.jpg' %}" alt="" class="img-fluid">
						</div>
						<div class="info">
							<h6>John Partho</h6>
							<span>Newyork USA</span>
						</div>
					</div>
				</div>
				<div class="testimonial-block">
					<p>
						Maiores quasi placeat harum itaque, ducimus cumque quas expedita hic. Qui ullam iste provident mollitia expedita facilis fuga repellat.
					</p>

					<div class="client-info d-flex align-items-center">
						<div class="client-img">
							<img src="{% static 'images/team/testimonial1.jpg' %}" alt="" class="img-fluid">
						</div>
						<div class="info">
							<h6>John Partho</h6>
							<span>Newyork USA</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock main_content %}