{% load static %}
<!DOCTYPE html>
<html lang="bg">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <title>Web Impression</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-seo-dream.css' %}">
    <link rel="stylesheet" href="{% static 'css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}" sizes="32x32" />
</head>

<body>

{#  <!-- ***** Preloader Start ***** -->#}
{#  <div id="js-preloader" class="js-preloader">#}
{#    <div class="preloader-inner">#}
{#      <span class="dot"></span>#}
{#      <div class="dots">#}
{#        <span></span>#}
{#        <span></span>#}
{#        <span></span>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#  <!-- ***** Preloader End ***** -->#}

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown"
          data-wow-duration="0.75s"
          data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="/" class="logo">
              <h4>WEB Impression
                  <img src="{% static 'images/logo-icon.png' %}" alt="">
              </h4>
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">Начало</a></li>
              <li class="scroll-to-section"><a href="#features">Услуги</a></li>
{#              <li class="scroll-to-section"><a href="#about">About Us</a></li>#}
              <li class="scroll-to-section"><a href="#services">Дейности</a></li>
              <li class="scroll-to-section"><a href="#portfolio">Проекти</a></li>
              <li class="scroll-to-section"><div class="main-blue-button"><a href="#contact">За контакт</a></div></li>
            </ul>        
            <a class='menu-trigger'>
                <span>Меню</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
{#                  <div class="col-lg-4 col-sm-4">#}
{#                    <div class="info-stat">#}
{#                      <h6>Agency Status:</h6>#}
{#                      <h4>Ready Work</h4>#}
{#                    </div>#}
{#                  </div>#}
{#                  <div class="col-lg-4 col-sm-4">#}
{#                    <div class="info-stat">#}
{#                      <h6>Price:</h6>#}
{#                      <h4>$720/Month</h4>#}
{#                    </div>#}
{#                  </div>#}
{#                  <div class="col-lg-4 col-sm-4">#}
{#                    <div class="info-stat">#}
{#                      <h6>Schedules</h6>#}
{#                      <h4>$450/Meeting</h4>#}
{#                    </div>#}
{#                  </div>#}
                  <div class="col-lg-12">
                    <h2>Уеб &amp; SEO<br/> Дигитални услуги</h2>
                  </div>
                  <div class="col-lg-12">
                    <div class="main-green-button scroll-to-section">
                      <a href="#contact">Свържете се</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="{% static 'images/banner-right-image.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Process Area Start ***** -->
  <div id="features" class="features section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="features-content">
            <div class="row">
              <div class="col-lg-3">
                <div class="features-item first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                  <div class="first-number number">
                    <h6>01</h6>
                  </div>
                  <div class="icon"></div>
                  <h4>Избор на готови дизайни</h4>
                  <div class="line-dec"></div>
                  <p>Възможни са всякакви цветови промени по наличните теми.</p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="features-item second-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                  <div class="second-number number">
                    <h6>02</h6>
                  </div>
                  <div class="icon"></div>
                  <h4>Структура и съдържание</h4>
                  <div class="line-dec"></div>
                  <p>Изработка на подходяща уеб структура и добавяне на съдържание.</p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="features-item first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                  <div class="third-number number">
                    <h6>03</h6>
                  </div>
                  <div class="icon"></div>
                  <h4>10+ SEO Основни Функции</h4>
                  <div class="line-dec"></div>
                  <p>Основни настройки за оптимизация на страниците</p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="features-item second-feature last-features-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                  <div class="fourth-number number">
                    <h6>04</h6>
                  </div>
                  <div class="icon"></div>
                  <h4>Управление и анализ</h4>
                  <div class="line-dec"></div>
                  <p>Инструменти с неограничени възможности за отчитане и анализи.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Skills sub-section start -->
{#        <div class="col-lg-12">#}
{#          <div class="skills-content">#}
{#            <div class="row">#}
{#              <div class="col-lg-3">#}
{#                <div class="skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">#}
{#                  <div class="progress" data-percentage="80">#}
{#                    <span class="progress-left">#}
{#                      <span class="progress-bar"></span>#}
{#                    </span>#}
{#                    <span class="progress-right">#}
{#                      <span class="progress-bar"></span>#}
{#                    </span>#}
{#                    <div class="progress-value">#}
{#                      <div>#}
{#                        80%<br>#}
{#                        <span>HTML/CSS/JS</span>#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#              <div class="col-lg-3">#}
{#                <div class="skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">#}
{#                  <div class="progress" data-percentage="60">#}
{#                    <span class="progress-left">#}
{#                      <span class="progress-bar"></span>#}
{#                    </span>#}
{#                    <span class="progress-right">#}
{#                      <span class="progress-bar"></span>#}
{#                    </span>#}
{#                    <div class="progress-value">#}
{#                      <div>#}
{#                        60%<br>#}
{#                        <span>Wordpress</span>#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#              <div class="col-lg-3">#}
{#                <div class="skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">#}
{#                  <div class="progress" data-percentage="90">#}
{#                    <span class="progress-left">#}
{#                      <span class="progress-bar"></span>#}
{#                    </span>#}
{#                    <span class="progress-right">#}
{#                      <span class="progress-bar"></span>#}
{#                    </span>#}
{#                    <div class="progress-value">#}
{#                      <div>#}
{#                        90%<br>#}
{#                        <span>Marketing</span>#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#              <div class="col-lg-3">#}
{#                <div class="skill-item last-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">#}
{#                  <div class="progress" data-percentage="70">#}
{#                    <span class="progress-left">#}
{#                      <span class="progress-bar"></span>#}
{#                    </span>#}
{#                    <span class="progress-right">#}
{#                      <span class="progress-bar"></span>#}
{#                    </span>#}
{#                    <div class="progress-value">#}
{#                      <div>#}
{#                        70%<br>#}
{#                        <span>Photoshop</span>#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}

      </div>
    </div>
  </div>
  <!-- ***** Process Area End ***** -->

  <!-- ***** About Us Area Start ***** -->
{#  <div id="about" class="about-us section">#}
{#    <div class="container">#}
{#      <div class="row">#}
{#        <div class="col-lg-6">#}
{#          <div class="left-image wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">#}
{#            <img src="{% static 'images/about-left-image.png' %}" alt="">#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-lg-6 align-self-center wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">#}
{#          <div class="section-heading">#}
{#            <h6>About Us</h6>#}
{#            <h2>Top <em>marketing</em> agency &amp; consult your website <span>with us</span></h2>#}
{#          </div>#}
{#          <div class="row">#}
{#            <div class="col-lg-4 col-sm-4">#}
{#              <div class="about-item">#}
{#                <h4>750+</h4>#}
{#                <h6>projects finished</h6>#}
{#              </div>#}
{#            </div>#}
{#            <div class="col-lg-4 col-sm-4">#}
{#              <div class="about-item">#}
{#                <h4>340+</h4>#}
{#                <h6>happy clients</h6>#}
{#              </div>#}
{#            </div>#}
{#            <div class="col-lg-4 col-sm-4">#}
{#              <div class="about-item">#}
{#                <h4>128+</h4>#}
{#                <h6>awards</h6>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <p><a rel="nofollow" href="#" target="_parent">SEO Dream</a> is free digital marketing CSS template provided by TemplateMo website. You are allowed to use this template for your business websites. Please DO NOT redistribute this template ZIP file on any Free CSS collection websites. You may contact us for more information. Thank you.</p>#}
{#          <div class="main-green-button"><a href="#">Discover company</a></div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
  <!-- ***** About Us End ***** -->

 <div id="services" class="our-services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading wow bounceIn"
               data-wow-duration="1s"
               data-wow-delay="0.2s">
            <h6>Нашите дейности</h6>
            <h2>Разгледайте с какво се занимаваме и какво <span>предлагаме</span> на нашитее <em>клиенти</em></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
            <div class="row">
              <div class="col-lg-4">
                <div class="icon">
                  <img src="{% static 'images/service-icon-01.png' %}" alt="">
                </div>
              </div>
              <div class="col-lg-8">
                <div class="right-content">
                  <h4>SEO Уеб дизайн</h4>
                  <p>Ако уебсайтът на вашата компания има зашеметяващ дизайн, но не можете да накарате нито една от неговите уеб страници да се класира в резултатите от търсачката, как хората ще намерят вашия уебсайт?</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.4s">
            <div class="row">
              <div class="col-lg-4">
                <div class="icon">
                  <img src="{% static 'images/service-icon-02.png' %}" alt="">
                </div>
              </div>
              <div class="col-lg-8">
                <div class="right-content">
                  <h4>Уебсайт тенденции</h4>
                  <p>Надградете своя уеб дизайн с тенденциите за 2023 г.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="row">
              <div class="col-lg-4">
                <div class="icon">
                  <img src="{% static 'images/service-icon-03.png' %}" alt="">
                </div>
              </div>
              <div class="col-lg-8">
                <div class="right-content">
                  <h4>Анализ на трафика</h4>
                  <p>Анализ на органичния трафик,  анализ на най-търсените ключови думи в Google, проучване на конкурентите, линк билдинг.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="row">
              <div class="col-lg-4">
                <div class="icon">
                  <img src="{% static 'images/service-icon-03.png' %}" alt="">
                </div>
              </div>
              <div class="col-lg-8">
                <div class="right-content">
                  <h4>Оптимизация на ключови думи</h4>
                  <p>
                      Процес на увеличаване на релевантността на съдържанието на всяка една уеб страница спрямо дадена заявка за търсене.
                      Предоставяне на потрбителя на това, което търси.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.7s">
            <div class="row">
              <div class="col-lg-4">
                <div class="icon">
                  <img src="{% static 'images/service-icon-01.png' %}" alt="">
                </div>
              </div>
              <div class="col-lg-8">
                <div class="right-content">
                  <h4>OnPage оптимизация на страницитe</h4>
                  <p>SEO на страницата е всичко, което можете да направите на самата страница, за да подобрите нейното класиране.
                    Той се фокусира върху това да помогне на Google и търсещите по-добре да разберат и усвоят вашето съдържание.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.8s">
            <div class="row">
              <div class="col-lg-4">
                <div class="icon">
                  <img src="{% static 'images/service-icon-02.png' %}" alt="">
                </div>
              </div>
              <div class="col-lg-8">
                <div class="right-content">
                  <h4>Администриране на уебсайта</h4>
                  <p>SEO резултатие са продължителни. Изграждането на устойчив поток от висококачествен
                      органичен трафик към уебсайт ще продължи да привличате потребители, дори ако решите
                      да намалите бюджета си за кратко време.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="portfolio" class="our-portfolio section d-none">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
            <h6>Вградени дизйни</h6>
            <h2>Разгледайте нашите <em>готови дизайни</em> и <span>теми</span></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
      <div class="row">
        <div class="col-lg-12">
          <div class="loop owl-carousel">
            <div class="item">
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static '/images/showcases/restaurant.png' %}" alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      <a href="#"><h4>Ресторант</h4></a>
                      <span class="main-blue-button">
                          <a href="https://themewagon.github.io/feane/">
                            Разгледай
                          </a>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static '/images/portfolio-04.jpg' %}" alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      <a href="#"><h4>Awesome Project 102</h4></a>
                      <span>Branding</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static '/images/portfolio-02.jpg' %}" alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      <a href="#"><h4>Awesome Project 103</h4></a>
                      <span>Consulting</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static '/images/portfolio-05.jpg' %}" alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      <a href="#"><h4>Awesome Project 104</h4></a>
                      <span>Artwork</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static '/images/portfolio-03.jpg' %}" alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      <a href="#"><h4>Awesome Project 105</h4></a>
                      <span>Branding</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static '/images/portfolio-06.jpg' %}" alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      <a href="#"><h4>Awesome Project 106</h4></a>
                      <span>Artwork</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static '/images/portfolio-04.jpg' %}" alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      <a href="#"><h4>Awesome Project 107</h4></a>
                      <span>Creative</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static '/images/portfolio-01.jpg' %}" alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      <a href="#"><h4>Awesome Project 108</h4></a>
                      <span>Consulting</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">

        <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <!-- ***** Contact Form Start ***** -->
          <form id="contact" action="" method="post">
             {% csrf_token %}
            <div class="row">
              <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                  <h6>За контакт</h6>
                  <h2>Попълнете формата и се свържете с нас</h2>
                </div>
              </div>

              <div class="col-lg-9">
                    <div class="row">
                        {% for field in form %}
                            {% if field.name != 'message' %}
                                <div class="col-lg-6">
                                    <fieldset>
                                        {{ field.errors }}
                                        {{ field.label_tag }} {{ field }}
                                    </fieldset>
                                </div>
                            {% else %}
                             <div class="col-lg-12">
                                    <fieldset>
                                        {{ field.label_tag }} {{ field }}
                                    </fieldset>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="col-lg-12 form-submit">
                            <fieldset>
                                {% if success_message %}
                                   <div  class="alert alert-success">
                                       {{ success_message }}
                                   </div>
                                {% elif message %}
                                    <div class="alert alert-danger">
                                        {{ message }}
                                    </div>
                                {% endif %}
                                <button type="submit" id="form-submit" class="main-button">Изпрати съобщение</button>
                            </fieldset>
                        </div>
                    </div>

              </div>

              <div class="col-lg-3">
                  <div class="contact-info">
                      <ul>
                          <li>
                              <div class="icon">
                                  <img src="{% static 'images/contact-icon-01.png' %}" alt="email icon">
                              </div>
                              <a href="mailto:ramonaweb2@gmail.com">ramonaweb2@gmail.com</a>
                          </li>
                          <li>
                              <div class="icon">
                                  <img src="{% static 'images/contact-icon-02.png' %}" alt="phone">
                              </div>
                              <a href="#">0892 601 740</a>
                          </li>
                          <li>
                              <div class="icon">
                                  <img src="{% static 'images/contact-icon-03.png' %}" alt="location">
                              </div>
                              <a href="#">web-impression.net</a>
                          </li>
                      </ul>
                  </div>
              </div>

            </div>

          </form>
          <!-- ***** Contact Form End ***** -->
        </div>

      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2023 Ramona Web 2.0. All Rights Reserved.
              <br>Web Designed by
              <a rel="nofollow" href="mailto:info@web-impression.net" title="Website and SEO">Ramona Web 2.0</a>
          </p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <script src="{% static 'jquery/jquery.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-appear/0.1/jquery.appear.min.js" integrity="sha512-h3cK8UUr5b3GLA8k7uBvK2c2U/JjnaG7i7KF5OSUE6JPF5B+JCg/LI/VOlIORYK9d0UAUhXDoVVbEDmBFOOLeQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.1.18/jquery.backstretch.min.js" integrity="sha512-bXc1hnpHIf7iKIkKlTX4x0A0zwTiD/FjGTy7rxUERPZIkHgznXrN/2qipZuKp/M3MIcVIdjF4siFugoIc2fL0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/ev-emitter@2.1.2/ev-emitter.min.js"></script>
  <script src="{% static 'js/owl.carousel.js' %}"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{% static 'js/animation.js' %}"></script>
  <script src="{% static 'js/imagesloaded.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
 <script src="{% static 'js/demo.js' %}"></script>

</body>
</html>