{% extends 'base/base.html' %}
{% load static %}

{% block title %}Изработка на сайт, уеб дизайн, SEO оптимизация - WEB Impression{% endblock %}
{% block meta %}Изработка на сайт, уеб дизайн, SEO оптимизация - WEB Impression{% endblock %}

{% block main_content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url('static/img/slide/slide-1.jpg')">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Изработка на бизнес уеб сайт</h2>
              <p class="animate__animated animate__fadeInUp">Избор на визия, концепция, навигация, структура според
                  Вашия бизнес сектор.
              </p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Виж повече</a>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url('static/img/slide/slide-2.jpg')">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Уеб дизайн и решения за малкия бизнес на достъпна цена</h2>
              <p class="animate__animated animate__fadeInUp">Дигитални възможности удобни за стартиращи и малки бизнеси.</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Виж повече</a>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url('static/img/slide/slide-3.jpg')">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">SEO оптимизация на уеб сайта за повече посещения и доволни клиенти</h2>
              <p class="animate__animated animate__fadeInUp">Стартирайте с персонализирана SEO стратегия спрямо нишата и конкуренцията.</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Виж повече</a>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
            <h2>Уеб сайт и SEO за малкия и среден бизнес</h2>
            <p class="h3">Защо да плащате купища пари за дигитални решения, които лесно могат да се изпълнят и да ви предоставят стойност.</p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Нашата дейност е насочена към подпомагане на малки и стартиращи бизнеси, защото именно те имат нужда от
                печеливша инвестиция. Услугите, които предлагаме, могат да покрият всички основни изисквания на един успешен
                и конкурентен уеб сайт. Оптимизацията му ще Ви донесе повече посещения, а те от своя страна повече клиенти.
                Вашите предимства при избора са:
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Предлагаме ви избор на визия според личните ви изисквания и предпочитания.</li>
              <li><i class="ri-check-double-line"></i> Съставяме план за работа, консултираме ви и вие следите развитието.</li>
              <li><i class="ri-check-double-line"></i> Извършваме оценка на конкурантите ви и ви предлагаме действия, с които да изградим сайта и да го оптимизираме.</li>
              <li><i class="ri-check-double-line"></i> Използваме различни визуални елементи и актуални технологии, с които да привлечем вниманието на вашите посетители.</li>
              <li><i class="ri-check-double-line"></i> Комбинираме необходимите ресурси и инструменти, за да предложим изцяло лично отношение към вашите нужди и желания.</li>
              <li><i class="ri-check-double-line"></i>Работим за вас всеки ден и сме на вашите услуги.</li>
            </ul>
            <p class="fst-italic">
              Нашата мисия е да се развиваме заедно с вас, а вие сте нашият партньор в това начинание!
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg d-none">
      <div class="container">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'img/clients/client-1.png'%}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'img/clients/client-2.png'%}" class="img-fluid'%}" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'img/clients/client-3.png'%}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'img/clients/client-4.png'%}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'img/clients/client-5.png'%}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'img/clients/client-6.png'%}" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="row content">
            <h2 class="text-center">Услугите, които Ви предоставяме</h2>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="icon-box">
                <img src="{% static 'img/icons/web_design.png'%}" class="img-fluid" alt="">
                <h4><a href="#">Уеб дизайн и изработка на уеб сайтове</a></h4>
                <p>Избирате дизайн съобразен с вашите нужди, продукти и услуги. <br/>Удобен за мобилни устройства.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <img src="{% static 'img/icons/seo_google.png'%}" class="img-fluid" alt="">
              <h4><a href="#">SEO оптимизация на уеб сайтове</a></h4>
              <p>Оптимизация на всички страници на сайта, изграждане на линкове, подходяща структура, заглавия, описания и много други.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <img src="{% static 'img/icons/local_seo.png'%}" class="img-fluid" alt="">
              <h4><a href="#">Оптимизация на локален бизнес</a></h4>
              <p>Локалното SEO позволява да привлечете местни клиенти, които да се запознаят от близо с вашите продукти и услуги.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <img src="{% static 'img/icons/social-media.png'%}" class="img-fluid" alt="">
              <h4><a href="#">Присъствие в социалните мрежи</a></h4>
              <p>Изграждането на социално присъствие е ключово в комуникацията с потребителите и клиентите на Вашия бизнес.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <img src="{% static 'img/icons/support.png'%}" class="img-fluid" alt="">
              <h4><a href="#">Съпорт и техническо обслужване</a></h4>
              <p>При всякакви въпроси, свързани с уеб сайта, ние сме на разположение за вас.</p>
              <p>Работим за вас всеки ден и сме на вашите услуги.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
               <img src="{% static 'img/icons/website_content.png'%}" class="img-fluid" alt="">
              <h4><a href="#">Управление на съдържанието</a></h4>
              <p>Публикуването на съдържание в уеб сайта и социалните мрежи е неразделна част от вашето дигитално присъствие.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio">
          <div class="container">

              <div class="row content">
                  <h2 class="text-center">Демо на бизнес уеб сайтове</h2>
              </div>

              <div class="row">
                  <div class="col-lg-12 d-flex justify-content-center">
                      <ul id="portfolio-flters">
                          <li data-filter="*" class="filter-active">Всички</li>
                          <li data-filter=".filter-products">Продуктово базирани</li>
                          <li data-filter=".filter-services">Услуги</li>
                          <li data-filter=".filter-business">Бизнес</li>
                          <li data-filter=".filter-mixed">Общи</li>
                      </ul>
                  </div>
              </div>

              <div class="row portfolio-container">
                  <div class="col-lg-4 col-md-6 portfolio-item filter-products">
                      <div class="portfolio-wrap">
                          <img src="{% static 'img/portfolio/furniture.png' %}" class="img-fluid" alt="">
                          <div class="portfolio-info">
                              <h4>Производство на мебели</h4>
                              <p>Продуктово базирани</p>
                              <div class="portfolio-links">
                                  <a href="{% static 'img/portfolio/furniture.png' %}" data-gallery="portfolioGallery"
                                     class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-services">
                      <div class="portfolio-wrap">
                          <img src="{% static 'img/portfolio/car_rent.png' %}" class="img-fluid" alt="">
                          <div class="portfolio-info">
                              <h4>Коли под наем</h4>
                              <p>Услуги</p>
                              <div class="portfolio-links">
                                  <a href="{% static 'img/portfolio/car_rent.png' %}" data-gallery="portfolioGallery"
                                     class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-services">
                      <div class="portfolio-wrap">
                          <img src="{% static 'img/portfolio/gardener.png' %}" class="img-fluid" alt="">
                          <div class="portfolio-info">
                              <h4>Градинарство</h4>
                              <p>Услуги</p>
                              <div class="portfolio-links">
                                  <a href="{% static 'img/portfolio/gardener.png' %}" data-gallery="portfolioGallery"
                                     class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-services">
                      <div class="portfolio-wrap">
                          <img src="{% static 'img/portfolio/photozone.png' %}" class="img-fluid" alt="">
                          <div class="portfolio-info">
                              <h4>Фотографски услуги</h4>
                              <p>Услуги</p>
                              <div class="portfolio-links">
                                  <a href="{% static 'img/portfolio/photozone.png' %}" data-gallery="portfolioGallery"
                                     class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-services">
                      <div class="portfolio-wrap">
                          <img src="{% static 'img/portfolio/woody.png' %}" class="img-fluid" alt="">
                          <div class="portfolio-info">
                              <h4>Дърводелски услуги</h4>
                              <p>Услуги</p>
                              <div class="portfolio-links">
                                  <a href="{% static 'img/portfolio/woody.png' %}" data-gallery="portfolioGallery"
                                     class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-mixed">
                      <div class="portfolio-wrap">
                          <img src="{% static 'img/portfolio/restorant.png' %}" class="img-fluid" alt="">
                          <div class="portfolio-info">
                              <h4>Ресторант / заведения за хранене</h4>
                              <p>Общи</p>
                              <div class="portfolio-links">
                                  <a href="{% static 'img/portfolio/restorant.png' %}" data-gallery="portfolioGallery"
                                     class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-mixed">
                      <div class="portfolio-wrap">
                          <img src="{% static 'img/portfolio/delfood.png' %}" class="img-fluid" alt="">
                          <div class="portfolio-info">
                              <h4>Ресторант / заведения за хранене</h4>
                              <p>Общи</p>
                              <div class="portfolio-links">
                                  <a href="{% static 'img/portfolio/delfood.png' %}" data-gallery="portfolioGallery"
                                     class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-business">
                      <div class="portfolio-wrap">
                          <img src="{% static 'img/portfolio/travel.png' %}" class="img-fluid" alt="">
                          <div class="portfolio-info">
                              <h4>Туризъм</h4>
                              <p>Бизнес</p>
                              <div class="portfolio-links">
                                  <a href="{% static 'img/portfolio/travel.png' %}" data-gallery="portfolioGallery"
                                     class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-mixed">
                      <div class="portfolio-wrap">
                          <img src="{% static 'img/portfolio/wed.png' %}" class="img-fluid" alt="">
                          <div class="portfolio-info">
                              <h4>Сватбена агенция</h4>
                              <p>Общи</p>
                              <div class="portfolio-links">
                                  <a href="{% static 'img/portfolio/wed.png' %}" data-gallery="portfolioGallery"
                                     class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-services">
                      <div class="portfolio-wrap">
                          <img src="{% static 'img/portfolio/accounting.png' %}" class="img-fluid" alt="">
                          <div class="portfolio-info">
                              <h4>Счетоводни услуги</h4>
                              <p>Услуги</p>
                              <div class="portfolio-links">
                                  <a href="{% static 'img/portfolio/accounting.png' %}" data-gallery="portfolioGallery"
                                     class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-services">
                      <div class="portfolio-wrap">
                          <img src="{% static 'img/portfolio/roofing.png' %}" class="img-fluid" alt="">
                          <div class="portfolio-info">
                              <h4>Ремонтни дейности</h4>
                              <p>Услуги</p>
                              <div class="portfolio-links">
                                  <a href="{% static 'img/portfolio/roofing.png' %}" data-gallery="portfolioGallery"
                                     class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-services">
                      <div class="portfolio-wrap">
                          <img src="{% static 'img/portfolio/construction.png' %}" class="img-fluid" alt="">
                          <div class="portfolio-info">
                              <h4>Строителство</h4>
                              <p>Услуги</p>
                              <div class="portfolio-links">
                                  <a href="{% static 'img/portfolio/construction.png' %}"
                                     data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i
                                          class="bx bx-plus"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-mixed">
                      <div class="portfolio-wrap">
                          <img src="{% static 'img/portfolio/drive.png' %}" class="img-fluid" alt="">
                          <div class="portfolio-info">
                              <h4>Шофьорски курсове</h4>
                              <p>Общи</p>
                              <div class="portfolio-links">
                                  <a href="{% static 'img/portfolio/drive.png' %}" data-gallery="portfolioGallery"
                                     class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-services">
                      <div class="portfolio-wrap">
                          <img src="{% static 'img/portfolio/washing.png' %}" class="img-fluid" alt="">
                          <div class="portfolio-info">
                              <h4>Почистване</h4>
                              <p>Услуги</p>
                              <div class="portfolio-links">
                                  <a href="{% static 'img/portfolio/washing.png' %}" data-gallery="portfolioGallery"
                                     class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-mixed">
                      <div class="portfolio-wrap">
                          <img src="{% static 'img/portfolio/vet_clinic.png' %}" class="img-fluid" alt="">
                          <div class="portfolio-info">
                              <h4>Ветеринана клиника / лекарска помощ</h4>
                              <p>Общи</p>
                              <div class="portfolio-links">
                                  <a href="{% static 'img/portfolio/vet_clinic.png' %}" data-gallery="portfolioGallery"
                                     class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-mixed">
                      <div class="portfolio-wrap">
                          <img src="{% static 'img/portfolio/fitness.png' %}" class="img-fluid" alt="">
                          <div class="portfolio-info">
                              <h4>Фитнес</h4>
                              <p>Общи</p>
                              <div class="portfolio-links">
                                  <a href="{% static 'img/portfolio/fitness.png' %}" data-gallery="portfolioGallery"
                                     class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
      </section><!-- End Portfolio Section -->

  </main><!-- End #main -->
{% endblock main_content %}