{% extends 'base/base.html' %}
{% load static %}
{% block title %}Услуги - WEB Impression{% endblock %}

{% block main_content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Услуги</h2>
          <ol>
            <li><a href="/">Начало</a></li>
            <li>Услуги</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="row content">
            <h2 class="text-center">Услугите, които Ви предоставяме</h2>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="icon-box">
                <img src="{% static 'img/icons/web_design.png'%}" class="img-fluid" alt="уеб дизайн изработка на уеб сайтове">
                <h4>Уеб дизайн и изработка на уеб сайтове</h4>
                <p>Избирате дизайн съобразен с вашите нужди, продукти и услуги. Удобен за мобилни устройства.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <img src="{% static 'img/icons/seo_google.png'%}" class="img-fluid" alt="оптимизация на уеб сайтове">
              <h4>SEO оптимизация на уеб сайтове</h4>
              <p>Оптимизация на всички страници на сайта, изграждане на линкове към вашите страници(Backlinks), избор на подходяща структура, заглавия, описания и много други.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <img src="{% static 'img/icons/local_seo.png'%}" class="img-fluid" alt="локална SEO оптимизация на вашия бизнес">
              <h4>Оптимизация на локален бизнес</h4>
              <p>Локалното SEO позволява да привлечете местни клиенти, които да се запознаят от близо с вашите продукти и услуги.
                Много повече от просто регистрация в Google My Business (поддържка на актуален профил с рецензии, работно време, снимки).
              </p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <img src="{% static 'img/icons/social-media.png'%}" class="img-fluid" alt="изграждане и поддържане на присъствие на бизнеса ви в социалните мрежи">
              <h4>Присъствие в социалните мрежи</h4>
              <p>Изграждането на социално присъствие е ключово в комуникацията с потребителите и клиентите на Вашия бизнес.
                Активност в социалните мрежи с акцент върху локалната общност. Подкрепа и споделяне на събития, новини и ресурси, които са от интерес за местната аудитория.
              </p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <img src="{% static 'img/icons/support.png'%}" class="img-fluid" alt="обслужване на уебсайа и постоянни актуализации">
              <h4>Съпорт и техническо обслужване</h4>
              <p>При всякакви въпроси, свързани с уеб сайта, ние сме на разположение за вас.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
               <img src="{% static 'img/icons/website_content.png'%}" class="img-fluid" alt="публикуване на акутално съдържание на уеб сайта - снимки, статии, видеа">
              <h4>Управление на съдържанието></h4>
              <p>Публикуването на съдържание в уеб сайта и социалните мрежи е неразделна част от вашето дигитално присъствие.
                Поддържайте информацията на сайта си актуална. Редовното актуализиране с новини, статии или друго съдържание допринася за интереса на посетителите.
              </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

  </main><!-- End #main -->

{% endblock %}